.quicksand-bold{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
.quicksand-medium{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  .raleway-medium {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
.quicksand-semi{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
.quicksand-normal{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  body{
    margin: 0;
  }
  .nav{
    margin-left: 140px;
    margin-right: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .link-items{
    display: flex;
    list-style: none;
    gap: 50px;
  }
  .link-items li a{
    text-decoration: none;
    font-size: 20px;
  }
  #bar{
    display: none;
  }
  .o{
    color: orange;
  }
  .sb{
    color: skyblue;
  }
  #c{
    color: cyan;
  }
  .p{
    color: violet;
  }
  .btn1{
    padding: 10px 60px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background-color: orange;
  }


.banner{
    display: flex;
    margin: 0 140px;
    justify-content: space-between;
    align-items: center;
}
.b-title{
    font-size: 56px;
}
.b-desc{
    font-size: 20px;
    margin-top: -18px;
    margin-bottom: 20px;
}

.btn2{
    padding: 10px 47px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 475px;
    padding: 40px 58px;
    border-radius: 15px;
}
.blu{
  background: 
  linear-gradient(to bottom, #cceeff, transparent 60%) no-repeat;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
background-color: white;
}
.or{
  background: 
  linear-gradient(to bottom, #FFF4DC, transparent 60%) no-repeat;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
background-color: white;
}
.pur{
  background: 
  linear-gradient(to bottom, #F2E8FF, transparent 60%) no-repeat;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
background-color: white;
}
.container{
    margin: 0 140px;
   display: flex;
   gap: 28px;
   margin-top: 80px;
   margin-bottom: 80px;
}
.cc{
    margin-top: 60px;
    background-image: url("../assets/bg.png");
}
.cc-title{
    text-align: center;
}
.grey{
    color: rgba(128, 128, 128, 1);
}
.card > a{
    text-decoration: none;
}
.card > p{
  margin-bottom: 32px;
  font-size: 15px;
}
.card > h2{
  font-size: 24px;
}

.mainstory{
  
 /* background-image: url(../assets/bg.png);
 background: 
 linear-gradient(to top, #FFF4DC, transparent 80%) no-repeat;  */
 background-image: 
    linear-gradient(to top, rgba(255, 230, 180, 0.9), rgba(255, 255, 255, 0.9)), 
    url(../assets/bg.png);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
.story{
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.align{
  text-align: center;
}

.big-card{
  height: 690px;
  width: 540px;
  border-radius: 0 0 10px 10px;
  background-color: white;
}
.cdesc{
  font-size: 15px;
}
.cardtxt{
   padding-left: 38px;
   padding-right: 68px;
   padding-bottom:  50px;
}
#s1-img{
  border-radius: 10px 10px 0 0;
  margin-bottom: -20px;
}
.btn3{
  background-color: aqua;
  color: white;
  border: none;
  padding: 15px 18px;
  border-radius: 30px;
  margin-top: -30px;
  margin-left: 40px;
  margin-bottom: 20px;
}
.btn4{
  background-color: #95B226;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 30px;
  margin-top: -30px;
  margin-left: 40px;
  margin-bottom: 15px;
}
.btn5{
  background-color: #8326b2;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 30px;
  margin-top: -30px;
  margin-left: 40px;
  margin-bottom: 15px;
}

.sscard{
  height: 300px;
  width: 290px;
  margin-bottom: 20px;
}
.scard{
  margin-top: -51px;
  padding: 37px 28px ;
  border-radius: 0 0 10px 10px;
  background-color: white;
  
}
.simg{
  border-radius: 10px 10px 0 0;
  margin-bottom: -20px;
}
.small-cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.m-container{
  display: flex;
  gap: 20px;
  margin-bottom: 140px;
}
.btn6{
  display: none;
}











  @media screen and  (max-width: 576px){
    .links{
        display: none;
    }
    .btn1{
        display: none;
    }
    #bar{
        display: block;
        width: 5%;
    }
    .nav{
        border: 1px solid orange;
        margin: 0;
    }
    .title-text{
        display: none;
    }
    .title{
        display: flex;
        justify-content: space-between;
        gap: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #hr{
        display: block;
        color: #ffbf50d2;
    }
    .banner{
        margin: 0;
        flex-direction: column-reverse;
        padding-left: 45px;
    }
    .lb{
        display: none;
    }
    .b-title{
      text-align: center;
    }
    .b-desc{
        text-align: center;
    }
    .b-text{
        justify-items: center;
    }
    .b-img{
        width: 100%;
    }
    .container{
      flex-direction: column;
      margin: 0;
      margin-bottom: 80px;
    }
    .big-card{
      display: none;
    }
    .btn6{
      margin-top: -100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .m-container{
      margin-bottom: 200px;
    }
    .simg{
      width: 100%;
    }
    .sscard{
      height: 280px;
      width: 250px;
    }
  }